/* ------------------------------------------------------------------------------ */
/* -------------------------------------Fonts------------------------------------ */
/* ------------------------------------------------------------------------------ */

@font-face 
{
  font-family: 'CascadiaMono';
  src: url('fonts/CascadiaMono.woff');
}

@font-face {
  font-family: 'WebsitePixel';
  src: url('fonts/websitepixelfont.woff');
}