/* ------------------------------------------------------------------------------ */
/* ---------------------------------Footer Styles-------------------------------- */
/* ------------------------------------------------------------------------------ */
  /* Footer */
  .footer 
  {
    background-color: black;
    
    position: relative; bottom: 0; left: 50%;
    transform: translateX(-50%); /* Centers the footer horizontally */
    width: 95%;
    /*height: calc(1.25vw + 1.25vh);*/
    height: calc(1.125vw + 1.125vh + 0.4rem);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* Ensure the footer stays on top */
  
    padding: 1vw 10vw;
    color: white;
    font-family: CascadiaMono;
  }
  
  /* Media Icon Links */
  .footer .links 
  {
    display: flex;
    gap: 1vw;
  }
  .footer .links img 
  {
    cursor: pointer;
    height: 1.75vw;
    border: none; 
    margin: 0 0 0 0;
    display: flex;
  }
  .footer .links img:hover 
  {
    opacity: 0.7;
  }
  
  /* Footer Text */
  .footer .contactInfo 
  {
    display: flex;
    /*font-size: calc(0.75vw + 0.25vh);*/
    font-size: calc(0.6vw + 0.2vh + 0.4rem);
    overflow-x: hidden;
    white-space: nowrap;
    overflow-y: hidden;
  }

  .footer .contactInfo .item
  {
    display: flex;
    align-items: center;
    transition: color 0.5s ease-out;
    word-spacing: 0;
    overflow-y: hidden;
  }

  @keyframes shake 
  {
    0% { transform: rotate(0); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(2deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0); }
  }

  .highlight 
  {
    color: yellow; /* Change text color to highlight */
  }

  .highlightShake 
  {
    animation: shake 1s ease-in-out;
    color: yellow; /* Change text color to highlight */
  }

