/* ------------------------------------------------------------------------------ */
/* ---------------------------------Footer Styles-------------------------------- */
/* ------------------------------------------------------------------------------ */
  /* Footer */
  .footer 
  {
    position: relative; bottom: 0; left: 50%;
    transform: translateX(-50%); /* Centers the footer horizontally */
    width: 95%;
    height: calc(1.25vw + 1.25vh);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* Ensure the footer stays on top */
  
    padding: 1vw 10vw;
    color: white;
    font-family: CascadiaMono;
  }
  
  /* Media Icon Links */
  .footer .links 
  {
    display: flex;
    gap: 1vw;
  }
  .footer .links img 
  {
    cursor: pointer;
    height: 1.75vw;
    border: none; 
    margin: 0 0 0 0;
    display: flex;
  }
  .footer .links img:hover 
  {
    opacity: 0.7;
  }
  
  /* Footer Text */
  .footer .contactInfo 
  {
    display: flex;
    flex-wrap: wrap;
    font-size: calc(0.75vw + 0.25vh);
  }

  .footer .contactInfo .item
  {
    display: flex;
    align-items: center;
    transition: color 0.5s ease-out;
    word-spacing: 0;
  }

  .highlight 
  {
    color: yellow; /* Change text color to highlight */
  }

