/* ------------------------------------------------------------------------------ */
/* --------------------------------Header Styles-------------------------------- */
/* ------------------------------------------------------------------------------ */

/* Header */
.header 
{
  position: fixed; top: 0; left: 50%;
  transform: translateX(-50%); /* Centers the header horizontally */
  width: 95%;

  align-items: center;
  justify-content: space-between;
  
  display: inline-flex;
  z-index: 10; /* Ensure the header stays on top */
  
  padding: 1vw 10vw;
  color: white;
  font-family: CascadiaMono;
}

/* Title */
.header .title 
{
  flex-grow: 1;
  font-size: calc(1.5vw + 0.5vh);
}

.header .title .button
{
  flex-grow: 1;
  font-size: calc(1.5vw + 0.5vh);
  cursor: pointer;
}

/* Buttons */
.header .buttons 
{
  display: flex;
  gap: 1.2vw;
}
.header .button 
{
  cursor: pointer;
  border: none;
  
  color: white;
  background-color: transparent; /* Transparent background */
  font-size: calc(0.75vw + 0.25vh);
  font-family: CascadiaMono;
}
.header .button:hover 
{
  background-color: transparent; /* Transparent background */
  opacity: 0.7;
}