/* ------------------------------------------------------------------------------ */
/* --------------------------------Header Styles-------------------------------- */
/* ------------------------------------------------------------------------------ */

/* Header */
.header 
{
  background-color: black;
  
  position: sticky; top: 0; left: 0;
  width: 98.1%;

  align-items: center;
  justify-content: space-between;
  
  display: inline-flex;
  z-index: 10; /* Ensure the header stays on top */
  
  padding-left: 1vw;
  padding-right: 10vw;
  padding-top: 1vh;
  padding-bottom: 1vh;

  color: white;
  font-family: CascadiaMono;
}

/* Optional Line styling */
.header-line 
{
  position: absolute; /* Remove from the flex flow */
  bottom: 0;          
  left: 0;           
  width: 100%;   
  border: 0.01vw solid white;
  margin: -0.1vh;     
}

/* Title */
.header .title 
{
  flex-grow: 1;
  /*font-size: calc(1.5vw + 0.5vh);*/
  font-size: calc(1.2vw + 0.4vh + 0.5rem);
  white-space: nowrap
}

/* Buttons */
.header .buttons 
{
  display: flex;
  gap: 1.0vw;
}
.header .button 
{
  cursor: pointer;
  border: none;
  
  color: white;
  background-color: transparent; /* Transparent background */
  /*font-size: calc(0.75vw + 0.25vh);*/
  font-size: calc(0.54vw + 0.18vh + 0.36rem);
  font-family: CascadiaMono;
}
.header .button:hover 
{
  background-color: transparent; /* Transparent background */
  opacity: 0.7;
}