/* ------------------------------------------------------------------------------ */
/* --------------------------------General Styles-------------------------------- */
/* ------------------------------------------------------------------------------ */

 /* Font */
 @font-face 
 { 
  font-family: OPTIBaskerVille; src: url('fonts/OPTIBaskerVille.woff'); 
} 

 /* Body */
 body 
 {
  font-family: OPTIBaskerVille;
 }
 
 body, html 
 {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow-x: hidden; /* Prevent horizontal scrolling */
   overflow-y: scroll; /* Enable vertical scrolling */
 }

 /* Video */
 video 
 {
   position: static; top: 0; left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover; /* Ensures the video fills the screen without distortion */
   overflow-y: scroll; /* Enable vertical scrolling */
   z-index: -1; /* Place the video behind other content */
 }

/* ------------------------------------------------------------------------------ */
/* --------------------------------Header Styles-------------------------------- */
/* ------------------------------------------------------------------------------ */

.header 
{
  position: fixed; top: 0; left: 0;
  width: 100%;
  padding: 20px;
  color: white;
  font-family: OPTIBaskerVille;
  font-size: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; /* Ensure the header stays on top */
}

/* Title */
.header .title 
{
  flex-grow: 1;
  font-size: 3vw;
}

/* Buttons */
.header .buttons 
{
  display: flex;
  gap: 20px;
}
.header .button 
{
  padding: 10px 20px;
  background-color: transparent; /* Transparent background */
  font-family: OPTIBaskerVille;
  border: none;
  border-radius: 5px;
  font-size: 2vw;
  color: white;
  cursor: pointer;
}
.header .button:hover 
{
  background-color: transparent; /* Transparent background */
}

/* ------------------------------------------------------------------------------ */
/* --------------------------------Content Styles-------------------------------- */
/* ------------------------------------------------------------------------------ */

.content 
{
  margin-top: 80px; /* Give space for the fixed header */
  padding: 20px;
  height: 2000px; /* For demonstration, making the page long enough to scroll */
  color: black;
}