/* ------------------------------------------------------------------------------ */
/* ------------------------------Sprout Town Styles------------------------------ */
/* ------------------------------------------------------------------------------ */

 /* Body */
 body 
 {
  transform: scale(1);
  transform-origin: top left;
  background-color: black;
 }
 body, html 
 {
   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: column;

   margin: 0;
   padding: 0;

   overflow-x: hidden; /* Prevent horizontal scrolling */
   overflow-y: auto; /* Enable vertical scrolling */
 }

h1, h2, h3 
{
  margin: 0;
  margin-top: 1vw;
  padding: 0;
}

.content
{
  display: flex;
  justify-content: space-between;
  gap: 2vw; /* Add some space between the boxes */
  flex-wrap: nowrap; /* Ensure content stays in a single row */
}

.mediaSection
{
  height: auto; /* Adjust height dynamically based on content */
  width: 40%; /* Set width to 50% of the screen */
  padding: 1vw 1vh; /* Add padding inside the box */
  margin-top: 0.1vh;
  margin-bottom: 3vh;
  margin-left: 1.5vw;

  color: white; /* Text color */

  /*font-size:  calc(0.52vw + 0.22vh);*/
  font-size: calc(0.364vw + 0.154vh + 0.35rem);
  overflow-x: auto; /* Allow horizontal scrolling for long lines of code */
  overflow-y: hidden; /* Hide vertical scrollbar */
  z-index: 2;
}

.mediaSection .media
{
  position: relative; left: 50%; 
  transform: translateX(-50%);
}

.mediaImage
{
  width: 100%;
  height: auto;
}

.bold
{
  font-size: calc((0.50vw + 0.15vh + 0.35rem) * 1.3);
  font-weight: bold;
}
.boldmini
{
  font-weight: bold;
}

.italics
{
  font-style: italic;
}

.gameDescription
{
  width: 60%;
  font-family: CascadiaMono;
  margin-left: 1vw;
  margin-right: 1.5vw;
  margin-top: 1vw;
  margin-bottom: 0;
  font-size: calc(0.50vw + 0.15vh + 0.35rem);
  color: white;
  line-height: 1.5;
}

.gameDescriptionImage
{
  position: relative;
  float: right;
  height: auto;
}

.gameDescription ul 
{
  list-style: disc; /* Ensure consistent bullet points */
  padding: 0;
  margin: 0;
}
.gameDescription li 
{
  margin: 0;
  padding: 0;
  margin-left: 2vw;
}

.gameDescription h3 
{
  margin: 0 0;
}
.gameDescription p 
{
  margin: 0 0;
}
.gameDescription ul 
{
  margin: 0 0;
}
