/* ------------------------------------------------------------------------------ */
/* -------------------------------Showcase Styles-------------------------------- */
/* ------------------------------------------------------------------------------ */


body 
{
  font-family: Arial, sans-serif;
  background-color: black;
  color: #222;
  line-height: 1.6;
}

/* Container for all projects */
.projects 
{
  margin: 0 auto;
  padding: 50px 20px;
}

/* Each project section */
.project 
{
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
  flex-wrap: wrap;
  overflow: hidden;
}

/* Text area */
.project-text 
{
  font-family: 'CascadiaMono';
  flex: 1;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
}
.project-text h2 
{
  font-family: 'CascadiaMono';
  color: white;
  margin-bottom: 20px;
  font-size: 2vw;
}
.project-text p 
{
  font-size: 1vw;
  color: white;
}

/* Video container */
.project-video 
{
  margin: 30px;
  flex: 1;
  height: 30vw;
  position: relative;
}
.project-video iframe 
{
  width: 100%;
  height: 100%;
  border: none;
}

/* Alternate layout: video on right */
.project.reverse 
{
  flex-direction: row-reverse;
}

/* Responsive adjustments */
@media (max-width: 900px) 
{
  .project 
  {
    flex-direction: column;
  }
  .project-video 
  {
    height: 250px;
  }
  .project-text h2 
  {
    font-size: 24px;
  }
  .project-text p 
  {
    font-size: 16px;
  }
}