/* ------------------------------------------------------------------------------ */
/* --------------------------------Resume Styles-------------------------------- */
/* ------------------------------------------------------------------------------ */

 /* Body */
 body 
 {
  transform: scale(1);
  transform-origin: top left;
  background-color: black;
 }
 body, html 
 {
   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: column;

   margin: 0;
   padding: 0;

   overflow-x: hidden; /* Prevent horizontal scrolling */
   overflow-y: auto; /* Enable vertical scrolling */
 }

.codeSnippet
{
  display: flex;
  justify-content: space-between;
  gap: 2vw; /* Add some space between the boxes */
  flex-wrap: nowrap; /* Ensure content stays in a single row */
}

.codeSnippet .codeLoadingZone
{
  height: auto; /* Adjust height dynamically based on content */
  width: 60%; /* Set width to 50% of the screen */
  padding: 1vw 1vh; /* Add padding inside the box */
  margin-top: 0.1vh;
  margin-bottom: 3vh;
  margin-left: 1.5vw;

  color: white; /* Text color */
  background-color: rgb(24, 24, 24); /* Background color */

  border: 0.01vw solid white; /* White border */
  border-radius: 0.0vw; /* Rounded corners */
  
  /*font-size:  calc(0.52vw + 0.22vh);*/
  font-size: calc(0.364vw + 0.154vh + 0.35rem);
  overflow-x: auto; /* Allow horizontal scrolling for long lines of code */
  overflow-y: hidden; /* Hide vertical scrollbar */
  z-index: 2;
}

.tabrow
{
  display: flex;
  justify-content: start;
  flex-wrap: nowrap; /* Ensure content stays in a single row */
  width: 100%;
  height: auto;
  margin-left: 1.5vw;
  margin-top: 2.0vh;
  margin-bottom: -0.2vh;
}

.tab, .tabinactive 
{
  background: none; /* Remove default button background */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */

  color: white;
  cursor: pointer;

  -moz-border-radius: 0px;
  -webkit-border-radius: calc(0.5vh + 0.5vw) calc(0.5vh + 0.5vw) 0vh 0vh;
  border-radius: calc(0.5vh + 0.5vw) calc(0.5vh + 0.5vw) 0vh 0vh; 

  font-family: CascadiaMono;
  font-size: calc(0.27vw + 0.08vh + 0.3rem);
}

.tab
{
  height: auto;
  width: min-content;
  display: inline-block;

  margin-left: 0vw;
  margin-top: 0.5vh;

  border: 0.01vw solid white; /* White border */
}

.tab:hover 
{
  background-color: rgb(86, 86, 86); /* Highlighted background */
  color: black; /* Change text color */
}

.codeTitle
{
  padding: 1vh;
  color: white;

  width: min-content;
  white-space: nowrap;

  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.tabinactive
{
  height: auto;
  width: min-content;
  display: inline-block;

  margin-left: 0vw;
  margin-top: 2.0vh;

  border: 0.01vw solid gray; /* White border */
}

.tabinactive:hover 
{
  background-color: rgb(86, 86, 86); /* Highlighted background */
  color: black; /* Change text color */
  border: 0.01vw solid white; /* White border */

  margin-left: 0vw;
  margin-top: 0.5vh;
}

.tabinactive:hover .codeTitle
{
  color: white;
}

.tabinactive .codeTitle
{
  padding: 1vh;
  color: gray;

  width: min-content;
  white-space: nowrap;
}

.codeDescription
{
  width: 50%;
  font-family: CascadiaMono;
  margin-left: 1vw;
  margin-right: 1.5vw;
  margin-top: 0;
  margin-bottom: 0;
  font-size: calc(0.75vw + 0.25vh);
  font-size: calc(0.50vw + 0.15vh + 0.35rem);
  color: white;
  white-space: pre-wrap;
}

.codeDescription ul 
{
  list-style: disc; /* Ensure consistent bullet points */
  padding: 0;
  margin: 0;
}
.codeDescription li 
{
  margin: 0;
  padding: 0;
  margin-left: 2vw;
}

.codeDescription .inset
{
  margin-left: 1vw;
}

.codeDescription .inset .insetDeep
{
  margin-left: 2vw;
}

.codeDescription h3 
{
  margin: 0 0;
}
.codeDescription p 
{
  margin: 0 0;
}
.codeDescription ul 
{
  margin: 0 0;
}
.codeDescription code 
{
  margin: 0 0;
  font-family: "Courier New", Courier, monospace;
}

/* Google Prettify syntax highlighting classes */
.atn { color: #ffffff; }
.atv { color: #ffffff; }
.clo { color: #ffffff; }
.com { color: #6a9955; } /* comment */
.dec { color: #ffffff; }
.fun { color: #ffffff; }
.lit { color: #b5c078; } /* literal */
.opn { color: #ffffff; }
.pln { color: #8cdcfe; } /* plain text */
.pun { color: #ffffff; } /* punctuation */
.src { color: #ffffff; }
.str { color: #ce834a; } /* string */
.tag { color: #ffffff; }
.typ { color: #44c9a4; } /* type */
.kwd { color: #4a9ccb; } /* keyword */
.var { color: #ffffff; }